<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hi, welcome to the Signup Page</p>
    <p>Today is a {{ day }}</p>
    <p>Current time is {{ time }}</p>

    <div class="centred">

    <form action="/submit" method="POST">

        <label for=""name">Name</label>
        <input type="text" name="name" placeholder="Enter your name">
        <br>
        <label for=""password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<style>
    body {
        background-color: lightblue;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    .centred {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
</style>
</html>